.page {
  background-color: #212529;
}

.node-bar {
  margin-left: 0;
  margin-right: 0;
  border-radius: 3px !important;
}

/* Inactive node state class variables */
.node-bar.inactive {
  background-color: #6699ff;
}

.node-bar.inactive:hover {
  background-color: #3377ff;
}

.node-value.inactive {
  color: white;
  font-weight: normal;
}

/* Active (default) node state class variables */
.node-bar.active-default {
  background-color: #339966;
}

.node-bar.active-default:hover {
  background-color: #53c68c;
}

.node-value.active-default {
  color: #53c68c;
  font-weight: bold;
}

/* Active node state class variable for QuickSort Pivot items */
.node-bar.active-qs-pivot {
  background-color: #a93226;
}

.node-bar.active-qs-pivot:hover {
  background-color: #cd6155;
}

.node-value.active-qs-pivot {
  color: #a93226;
  font-weight: bold;
}
